@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/bg-2-blur.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

li, a, button, h1 {
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
    text-transform: uppercase;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 3.5%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    height: 50px;
    width: 50px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: rgba(0, 136, 169, 1);
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #edf0f1;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 1);
    border: 2px solid rgba(0, 136, 169, 1);
}

.form-title {
    margin: 0 auto;
    text-align: center;
    vertical-align: top;
    justify-content: center;
    padding-right: 20px;
}

.form-title h1 {
    font-weight: bold;
    font-size: 3.5em;
}

.typing {
    position: relative;
    margin-left: 10px;
}

.typing::after {
    content: "";
    position: absolute;
    top: 13px;
    padding-left: 5px;
    width: 1px;
    height: 62.5%;
    border-right: 2px solid white;
    animation: blink 0.85s infinite ease;
}

.contact-form {
    max-width: 750px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 4px;
    display: flex;
}

.contact-form * {
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 18px;
}

.form-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    width: 100%;
    padding: 0 20px;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.form-input {
    display: flex;
}

#form-btn {
    margin-top: 40px;
    transform: translateX(56%);
}

.form-item, .form-msg {
    width: 48%;
}

.form-item .form-input, .form-msg textarea {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid white;
    padding-left: 10px;
    padding-top: 20px;
    color: white;
    width: 100%;
}

.form-input::placeholder, .form-msg::placeholder {
    color: white;
}

.form-input:focus, .form-msg:focus {
    border-bottom: 2px solid rgba(0, 136, 169, 1);
}

.form-msg textarea {
    display: flex;
    resize: vertical;
    width: 38.25em;
    min-height: 175px;
    max-height: 355px;
}

@keyframes blink {
    0%{
        opacity: 100;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}

@media screen and (max-height: 1500px) {
    .form-wrapper {
        top: 55%;
    }
    #form-btn {
        margin-top: 30px;
    }
    .contact-form {
        padding-top: 10px;
    }
}
